# Compiled class file
*.class
.classpath
.springBeans
.factorypath
# Mobile Tools for Java (J2ME)
.mtj.tmp/

*.class
*.classpath
*.project
*.springBeans
bin/
log/
test-output/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.swp
*.log
*.ctxt
# nodejs local modules
.tags*
.idea/
*.iml
.gradle/
.settings/
target/
hs_err_pid*